.quasar
.DS_Store
.thumbs.db
node_modules
/src/plugins/env.json
/dist
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/statics/workalongo-test
/src/assets/bruit-config.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.firebaserc
firebase.json
.firebase/hosting.ZGlzdC9zcGEtbWF0.cache
eslint.json
.eslintrc.json
