<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <link rel="icon" href="statics/logo.png" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- DO NOT touch the following <div> -->
    <div id="q-app"></div>

    <!-- DO NOT touch the following -->

    <!-- built files will be auto injected here -->

    <script>
      (function(w, d, f, s) {
        w.buglog = w.buglog || {};
        buglog.id = 'GM5RG1PX14';
        f = d.getElementsByTagName('head')[0];
        s = d.createElement('script');
        s.async = 1;
        s.src = 'https://api.buglog.io/website/' + buglog.id + '/code';
        f.appendChild(s);
      })(window, document);
    </script>
  </body>
</html>
